body {
    font-family: Arial, sans-serif;
}

.formulaire-achat {
    width: 300px;
    margin: auto;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
}

.input-group input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
